.inputWorkOutForm {
  border: 2px solid $header-color;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: auto;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.inputRoutineForm {
  border: 2px solid $header-color;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}
